/* 
    Fecha de Creación : 31/05/2019, 02:53:00 PM
    Autor     : Edinson 
*/
html{
    margin-left: 10rem;
    margin-right: 10rem;
        }
table{
    width: 100%;
   
}

input{
    width: 100%;
}

